@config "../../tailwind.config.mjs";

@import "tailwindcss";
@plugin "@tailwindcss/typography";

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

:root {
  --bg-page: #151526;
  --bg-surface: #131323;
  --bg-secondary: #d6d7ff;
  --bg-accent: #9599ff;

  --text-primary: #ededf2;
  --text-secondary: #151526;

  --title-primary: #ededf2;
  --title-secondary: #151526;

  --accent: #7a7fff;

  --error: #ff3b3b;
  --success: #3cff9e;
}

#nav-lateral {
  transform: translateX(calc(-100% + 10px));
  transition: transform 300ms ease;
  background-color: #d6d7ff;
}

body:not(.nav-open) #nav-lateral:hover {
  box-shadow: 12px 0 30px rgba(0, 0, 0, 0.705);
}

#nav-overlay {
  position: fixed;
  top: 0;
  left: var(--nav-width, 25%);
  right: 0;
  bottom: 0;
  background: transparent;
  pointer-events: none;
  z-index: 40;
}

body.nav-open #nav-overlay {
  pointer-events: none;
}

body.nav-open #nav-lateral {
  transform: translateX(0);
}

body.nav-open #page-content {
  margin-left: 25%;
  width: calc(100% - 25%);
}

#page-content {
  width: calc(100vw - var(--nav-offset, 10px));
  margin-left: var(--nav-offset, 10px);
  transition:
    margin 200ms linear,
    width 200ms linear;
}

.preview-scroll::-webkit-scrollbar {
  width: 4px;
}

.preview-scroll::-webkit-scrollbar-thumb {
  background-color: #151526;
  border-radius: 999px;
}

.preview-scroll::-webkit-scrollbar-track {
  background-color: #1515266e;
}

.projects.grid-view {
  @apply grid grid-cols-2 gap-10;
}

.projects.grid-view .project-card {
  @apply relative overflow-hidden rounded-lg cursor-pointer;
}

.projects.grid-view .project-image {
  @apply w-full aspect-video rounded-lg;
}

.projects.grid-view .project-overlay {
  @apply absolute inset-0
    flex flex-col justify-between
    h-full
    bg-page/60
    opacity-0
    transition-opacity duration-300
    p-4;
}

.projects.grid-view .project-card:hover .project-overlay {
  @apply opacity-100;
}

.projects.grid-view .project-info h3 {
  @apply text-muted font-inconsolata text-caption bg-secondary p-2 tracking-wider rounded-lg w-fit font-800;
}

.projects.grid-view .project-info .flex-cont {
  @apply flex flex-col gap-2;
}

.projects.grid-view .project-info span {
  @apply text-muted font-outfit text-sm bg-secondary p-1 px-2 rounded-lg w-fit font-600;
}

.projects.grid-view .project-info p {
  @apply text-muted font-outfit text-caption bg-secondary p-2 tracking-wide rounded-lg w-fit font-500 italic;
}

.projects.list-view {
  @apply flex flex-col;
}

.projects.list-view a {
  @apply block;
}

.projects.list-view a .project-card {
  @apply flex items-center justify-between py-3 -mx-20 px-20 border-t border-primary transition-colors duration-300;
}

.projects.list-view a:last-child .project-card {
  @apply border-b border-primary;
}

.projects.list-view .project-info {
  @apply flex flex-row items-center;
  display: contents;
}

.projects.list-view .project-info .flex-cont {
  display: contents;
}

.projects.list-view .project-card h3 {
  flex: 0 0 25%;
  @apply text-primary font-inconsolata font-500 text-h3 tracking-wide;
}

.projects.list-view .project-card span {
  flex: 0 0 5%;
  @apply text-primary font-outfit text-caption tracking-wider font-600;
}

.projects.list-view .project-card p {
  flex: 0 0 20%;
  @apply text-primary font-outfit text-caption tracking-wide font-500 italic;
}

.projects.list-view .project-card .project-image {
  flex: 0 0 180px;
  @apply rounded-lg opacity-0 scale-150;
}

.projects.list-view a .project-card:hover {
  @apply bg-accent;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.projects.list-view a:hover + a .project-card {
  border-top-color: transparent;
}

.projects.list-view a .project-card:hover h3,
.projects.list-view a .project-card:hover span,
.projects.list-view a .project-card:hover p {
  @apply text-muted;
}

.projects.list-view a .project-card:hover .project-image {
  @apply opacity-100;
}

.projects.grid-view .project-featured {
  grid-column: span 2;
}

.projects.grid-view .project-featured .project-image {
  aspect-ratio: 18 / 9;
}

.projects.grid-view .project-featured img {
  object-position: center center;
}

/* ===== FEATURED PROJECT (GRID VIEW) ===== */

.projects.grid-view .project-featured h3 {
  @apply text-h4;
}

.projects.grid-view .project-featured span {
  @apply text-base;
}

.projects.grid-view .project-featured p {
  @apply text-base;
}

#ddescription h2 {
  @apply text-caption text-primary font-600 font-manrope tracking-wider;
}

#ddescription p {
  @apply text-primary/90 font-manrope font-400 text-body leading-base;
}

#media-container {
  --image-tint: transparent;
}

.media-image {
  position: relative;
}

.media-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
}

.media-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--image-tint);
  opacity: 0; /* 👈 CLAVE */
  mix-blend-mode: overlay;
  pointer-events: none;
  transition: opacity 0.3s ease;
  border-radius: inherit;
}

#media-container[data-active="true"] .media-wrapper::after {
  opacity: 0.7;
}

.media-image {
  display: block;
  width: 100%;
  height: 100%;
}

.media-image {
  position: relative;
  overflow: hidden;
}

.palette-active {
  @apply border-2 border-accent scale-y-150;
}

#contact-overlay {
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease;
}

#contact-overlay.active {
  opacity: 1;
  pointer-events: auto;
  display: flex;
}

#terminal-input::placeholder {
  color: var(--text-primary);
  opacity: 0.8;
  font-family: "Inconsolata", monospace;
}

#terminal-enrutado {
  color: var(--text-primary);
  opacity: 60%;
}

#terminal-current-prompt {
  color: var(--text-primary);
  opacity: 60%;
}

#terminal-output::-webkit-scrollbar {
  width: 8px;
}

#terminal-output::-webkit-scrollbar-track {
  @apply bg-secondary/40 rounded-lg;
}

#terminal-output::-webkit-scrollbar-thumb {
  @apply bg-secondary rounded-lg;
}

#terminal-output::-webkit-scrollbar-thumb:hover {
  @apply bg-accent;
}

.text-terminal-success {
  color: var(--success);
}

.text-terminal-error {
  color: var(--error);
}
